/* сброс */
* {
  box-sizing: border-box;
}
body {
  margin: 0;
  background-color: #1f2229;
  overflow-x: hidden;
}
a {
  text-decoration: none;
  color: inherit;
}
ul,
ol,
p,
input,
figure {
  margin: 0;
  padding: 0;
}
li {
  list-style: none;
}
h1,
h2,
h3 {
  margin: 0;
  font-family: "ABeeZee", sans-serif;
}
p,
span {
  font-family: "Abel", sans-serif;
}
button {
  background: transparent;
  border: none;
}
input {
  border: none;
  outline: none;
}
img {
  user-select: none;
}

/* шрифты */
@font-face {
  font-family: "Abel";
  src: url("/src/assets/fonts/Abel-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
.container {
  width: 77.78%;
  margin: 0 auto;
}
@media (max-width: 400px) {
  .container {
    width: 89.38%;
  }
}

/* цвета */
:root {
  --black: #000000;
  --white: #e1dfdf;
  --blue: #3fcbff;
  --pink: #ff59a3;
  --green: #d7ff38;
  --green2: #38ffa6;
  --violet: #c882ff;
  --textBlack: #1f2229;
  --textWhite: #e1dfdf;
  --textGray: #8f9399;
}

.buttonUi {
  font-size: 16px;
  font-weight: 600;
  line-height: 22px;
  background-color: #ffff;
  cursor: pointer;
  transition: 0.3s ease;
  display: flex;
  align-items: center;
  justify-content: center;
}
.buttonUi:hover {
  background-color: #000000;
  color: white;
}
.buttonUi:active {
  transform: scale(0.9);
}
