<link rel="stylesheet" href="/src/components/form/form.css">
<script src="/src/components/form/form.js" defer></script>
<section class="section container">
    <form class="form">
        <h1 class="form__title">Несколько шагов
            <span> и 1 ТБ — ваш</span>
        </h1>
        <div class="form__input">
            <label class="form__input-label" for="">Номер телефона</label>
            <input class="form__input-input" type="tel">
        </div>
        <div class="form__personal">
            <input class="form__personal-checkbox" type="checkbox" name="" id="">
            <p class="form__personal-description">Даю согласие на обработку персональных данных. <a href="">Условия
                    соглашения.</a></p>
        </div>
        <button class="form__button buttonUi"><span>Выслать промокод</span></button>
    </form>
    <div class="steps">
        <div class="steps__step">
            <div class="steps__step-number"><span>1</span></div>
            <p>Ведите свой номер телефона, затем дождитесь смс с промокодом для получения Тб</p>
        </div>
        <div class="steps__step">
            <div class="steps__step-number"><span>2</span></div>
            <p>Перейдите на <a href="">сайт Tele2 </a> и активируйте промокод при подключении на тариф «Мой Онлайн+»
            </p>
        </div>
        <div class="steps__step">
            <div class="steps__step-number"><span>3</span></div>
            <p>Используйте свой подарочный ТБ от Tele2 в течение всего года
            </p>
        </div>
    </div>
</section>