.section {
  margin-block-start: 148px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 30px;
}
.form {
  inline-size: 100%;
  max-inline-size: 348px;
}
.form__title,
.steps__title-adaptation {
  font-size: clamp(1.75rem, 2.5vw, 2.5rem);
  font-weight: 400;
  line-height: 130%;
  color: #ffffff;
  max-inline-size: 320px;
  margin-block-end: 12px;
}
.form__title span,
.steps__title-adaptation span {
  color: var(--blue);
}
.steps__title-adaptation {
  display: none;
}
.form__group {
  display: flex;
  flex-direction: column;
  gap: 3px;
  min-block-size: 50px;
  border: none;
}
.form__input-label {
  color: var(--textGray);
  font-weight: 400;
  font-size: 13px;
  line-height: 18px;
}
.form__input-input {
  border-block-end: 2px solid #8f9399;
  background-color: transparent;
  color: var(--textWhite);
  font-size: 16px;
  font-weight: 400;
  line-height: 138%;
  transition: 0.3s;
}
.form__input-input:focus {
  border-color: #ffffff;
}
.form__personal {
  display: flex;
  align-items: flex-start;
  gap: 8px;
  margin-block-start: 24px;
  border: none;
}
.form__personal-checkbox {
  appearance: none;
  block-size: 24px;
  inline-size: 24px;
  border: 2px solid #ffffff;
  cursor: pointer;
  display: grid;
  place-content: center;
  position: relative;
  flex-shrink: 0;
}
.form__personal-checkbox::before {
  content: "";
  inline-size: 14px;
  block-size: 11px;
  background-image: url('data:image/svg+xml;utf8,<svg width="14" height="11" viewBox="0 0 14 11" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M1 5L5 9L13 1" stroke="white" stroke-width="2"/></svg>');
  opacity: 0;
  transition: opacity 0.2s ease;
}
.form__personal-checkbox:checked::before {
  opacity: 1;
}
.form__personal-description {
  color: var(--white);
  font-size: 16px;
  line-height: 138%;
  font-weight: 400;
  max-inline-size: 256px;
}
.form__personal-description a {
  text-decoration: underline;
}
.form__button {
  inline-size: 228px;
  block-size: 48px;
  border-radius: 48px;
  background-color: var(--textWhite);
  margin-block-start: 10px;
}
.steps {
  inline-size: 100%;
  max-inline-size: 598px;
  min-block-size: 354px;
  list-style: none;
  padding: 0;
  margin: 0;
}
.steps__step {
  display: flex;
  align-items: center;
  gap: 24px;
  margin-block-end: 32px;
}
.steps__step:hover .steps__step-number {
  background-color: var(--blue);
}
.steps__step:hover .steps__step-number span {
  color: #ffffff;
}
.steps__step-number {
  inline-size: 80px;
  block-size: 80px;
  flex-shrink: 0;
  border: 2px solid #39404c;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: 0.3s;
}

.steps__step-number span {
  color: var(--blue);
  font-weight: 600;
  font-size: 40px;
  line-height: 130%;
  transition: 0.3s;
}

.steps__step p {
  color: #ffffff;
  font-size: 20px;
  font-weight: 400;
  line-height: 150%;
}

.steps__step a {
  text-decoration: underline;
}
@media (max-width: 1100px) {
  .steps__step p {
    width: 305px;
  }
}
@media (max-width: 872px) {
  .steps__step p {
    width: 100%;
  }
  .section {
    flex-direction: column-reverse;
  }
  .steps__step {
    flex-direction: column;
    align-items: start;
  }
  .form {
    width: 100%;
  }
  .form__title {
    display: none;
  }
  .steps__title-adaptation {
    display: block;
    margin-block-end: 40px;
  }
  .section {
    margin-block-start: 72px;
  }
  .steps__step-number {
    inline-size: 56px;
    block-size: 56px;
  }
  .steps__step-number span {
    font-size: 24px;
  }
  .steps__step p {
    font-size: 18px;
  }
  .steps__step {
    gap: 16px;
  }
  .form__personal {
    padding: 0;
  }
  .form__button {
    margin-block-start: 32px;
  }
}
