<link rel="stylesheet" href="/src/components/hero/hero.css">
<section class="hero container">
    <div class="hero__left">
        <p class="hero__left-promotion">Акция продлится с 1 по 20 сентября</p>
        <h1 class="hero__left-title">ЭТО ВАША <span>ВЫГОДА!</span></h1>
        <h2 class="hero__left-rate">Тариф «Мой онлайн+» и 1 ТБ трафика в подарок для новых абонентов</h2>
        <button class="hero__left-button buttonUi"><span>Принять участие</span></button>
    </div>
    <div class="hero__right">
        <img src="/images/Boss.png" alt="" class="hero__right-image">
    </div>
</section>