.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  min-height: 76px;
  padding-left: 32px;
  padding-right: 30px;
  border-bottom: 1px solid #383d4a;
}
.header__location {
  display: flex;
  gap: 8px;
  align-items: center;
  cursor: pointer;
}
.header__location-text {
  color: #ffff;
  font-size: 20px;
  font-weight: 400;
  line-height: 150%;
}
.modal {
  display: none;
  width: 100%;
  height: calc(100vh - 76px);
  position: fixed;
  left: 0;
  top: 76px;
  background-color: #1f2229;
}
.modal-wrapper {
  max-width: 532px;
  min-height: 308px;
  margin-top: 144px;
}
.modal-wrapper-title {
  margin-bottom: 64px;
  color: #ffff;
  font-weight: 600;
  font-size: 40px;
  line-height: 130%;
}
.modal-wrapper-cities {
  display: flex;
  justify-content: space-between;
}
li {
  margin-top: 24px;
  color: #ffff;
  font-size: 20px;
  font-weight: 400;
  line-height: 150%;
  cursor: pointer;
  width: fit-content;
}
li:hover {
  border-bottom: 1px solid black;
}
