<link rel="stylesheet" href="/src/components/header/header.css">
<script src="/src/components/header/header.js" defer></script>

<header class="header">
    <a href="/" class="header__logo">
        <img src="/images/logo.svg" class="header__logo-image" alt="Tele2">
    </a>
    <button class="header__location">
        <img src="/images/location.svg" class="header__location-icon" alt="location">
        <span class="header__location-text">Санкт-Петербург</span>
    </button>
    <div class="modal">
        <div class="modal-wrapper container">
            <h1 class="modal-wrapper-title">Выберите город</h1>
            <div class="modal-wrapper-cities">
                <div>
                    <li>Воронеж</li>
                    <li>иркутск</li>
                    <li>Кемерово</li>
                    <li>Красноярск</li>
                </div>
                <div>
                    <li>Москва</li>
                    <li>Н.Новгород</li>
                    <li>Новосибирск</li>
                    <li>Пермь</li>
                </div>
                <div>
                    <li>Ростов-на-Дону</li>
                    <li>Санкт Петербург</li>
                    <li>Челябинск</li>
                </div>
            </div>
        </div>
    </div>
</header>