<link rel="stylesheet" href="/src/components/footer/footer.css">
<footer class="footer container">
    <div class="footer__top">
        <div class="footer__top-social">
            <div><img src="/images/x.svg" alt=""></div>
            <div><img src="/images/vk.svg" alt=""></div>
            <div><img src="/images/facebook.svg" alt=""></div>
        </div>
        <div class="footer__top-conditions">
            <p>Полные условия акции</p>
            <div><span>16+</span></div>
        </div>
    </div>
    <div class="footer__bottom">
        <div class="footer__bottom-wrapper">
            <a href="/" class="footer__bottom-logo">
                <img src="/images/logo.svg" class="header__logo-image" alt="Tele2">
            </a>
            <p class="footer__bottom-copyright">
                © Tele2 Россия, 2021
            </p>
        </div>
        <div class="footer__bottom-wrapper">
            <p class="footer__bottom-copyright">
                Сделано в Студии Олега Чулакова
            </p>
            <a href="/" class="footer__bottom-logo">
                <img src="/images/logoChulakov.svg" class="header__logo-image" alt="Tele2">
            </a>
        </div>
    </div>
</footer>