.footer {
  padding-block: 2rem;
}
.footer__top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-block-end: 0.5rem;
  border-block-end: 1px solid rgba(225, 223, 223, 0.2);
}
.footer__social {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  list-style: none;
  margin: 0;
  padding: 0;
}
.footer__social-item {
  inline-size: 2.5rem;
  block-size: 2.5rem;
}
.footer__social-link {
  display: flex;
  justify-content: center;
  align-items: center;
  inline-size: 100%;
  block-size: 100%;
}
.footer__conditions {
  display: flex;
  align-items: center;
  gap: 0.75rem;
}
.footer__conditions-text {
  font-size: clamp(0.75rem, 1vw, 0.8125rem);
  font-weight: 400;
  line-height: 1.38;
  color: var(--textWhite);
}
.footer__age {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  inline-size: 2rem;
  block-size: 2rem;
  border: 2px solid #fff;
  border-radius: 50%;
  font-weight: 700;
  font-size: clamp(0.6875rem, 1vw, 0.75rem);
  color: #fff;
  flex-shrink: 0;
}
.footer__bottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-block-size: 7.5rem;
  margin-block-start: 1.5rem;
  flex-wrap: wrap;
  gap: 1rem;
}
.footer__column {
  display: flex;
  align-items: center;
  gap: 1.5rem;
}
.footer__logo img {
  max-block-size: 2rem;
  object-fit: contain;
}
.footer__copyright {
  font-size: clamp(0.75rem, 1vw, 0.8125rem);
  line-height: 1.38;
  font-weight: 400;
  opacity: 0.5;
  color: var(--textWhite);
}
@media (max-width: 400px) {
  .footer {
    padding: 0;
  }
  .footer__social-item {
    inline-size: 1.5rem;
    block-size: 1.5rem;
  }
  .footer__logo {
    inline-size: 5rem;
    block-size: auto;
  }
  .footer__column {
    justify-content: space-between;
    width: 100%;
  }
  .footer__column:last-child {
    display: none;
  }
  .footer__top {
    padding-block-end: 0.75rem;
  }
}
