<link rel="stylesheet" href="/src/components/advertising/advertising.css">
<section class="advertising container">
    <div class="advertising__content">
        <h1 class="advertising__title">Заходите на сайт Tele2</h1>
        <p class="advertising__description">
            Перейдите в магазин, оформите тариф «Мой онлайн+» и на страничке активации введите ваш промокод. Готово!
        </p>
        <a href="https://rostov.tele2.ru" target="_blank" rel="noopener noreferrer" class="advertising__button buttonUi"
            role="button" aria-label="Оформить тариф на сайте Tele2">
            Оформить тариф
        </a>
    </div>
    <figure class="advertising__visual">
        <div class="advertising__ellipse">
            <img src="/images/Phone.png" alt="Смартфон" class="advertising__phone" loading="lazy" />
            <img src="/images/Sim.png" alt="SIM-карта" class="advertising__sim" loading="lazy" />
        </div>
    </figure>
    <a href="https://rostov.tele2.ru" target="_blank" rel="noopener noreferrer"
        class="advertising__button-adaptation buttonUi" role="button" aria-label="Оформить тариф на сайте Tele2">
        Оформить тариф
    </a>
</section>