<link rel="stylesheet" href="/src/components/advertising/advertising.css">
<section class="advertising container">
    <div class="advertising__text">
        <h1 class="advertising__text-title">Заходите на сайт Tele2</h1>
        <p class="advertising__text-paragraph">Перейдите в магазин, оформите тариф «Мой онлайн+» и на страничке
            активации введите ваш промокод. Готово! </p>
        <button class="advertising__text-button buttonUi"><a href="https://rostov.tele2.ru" target="_blank"
                rel="noopener noreferrer" class="advertising__text-button buttonUi">
                <span>Оформить тариф</span>
            </a></button>
    </div>
    <div class="advertising__image">
        <div class="advertising__image-ellipse">
            <img class="advertising__image-phone" src="/images/Phone.png" alt="">
            <img class="advertising__image-sim" src="/images/Sim.png" alt="">
        </div>
    </div>
</section>